body{
    font-family: 'Nanum Gothic', sans-serif;
}
h1{
    font-size: 50px;
}
.Beguni{
    color: blueviolet;
}
section{
    display: flex;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 100%;
    padding-right: 5%;
}