body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Beguni{
    color: blueviolet;
}
section{
    display: flex;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 100%;
    padding-right: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 27, 184), rgb(82, 3, 71));
    padding: 10px 20px;
    color: azure;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/banner-1989514_1280.png);
    background-repeat:;
}